<html>
<body>
<h style="text-align: center; font-weight:900; background-color: rgb(12, 82, 214); color: white;">All Data Entries</h>
<table>
    <tr style="background-color: rgba(241, 232, 232, 0.568); padding-top: 10%;">
        <th scope="col">Username</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Gender</th>
        <th scope="col">Salary</th>
        <th scope="col">Address</th>
        <th scope="col">Contact</th>
    </tr>
    
    <tr>
        <td>abdullah</td>
        <td>abdullah</td>
        <td>umar</td>
        <td>Nov. 11, 2001</td>
        <td>male</td>
        <td>5000000000</td>
        <td>rawalpindi</td>
        <td>03046775122</td>

    </tr>
    
    <tr>
        <td>nehasohail8</td>
        <td>neha</td>
        <td>sohail</td>
        <td>Nov. 8, 2001</td>
        <td>female</td>
        <td>9000000000</td>
        <td>toronto, canada</td>
        <td>03028557658</td>

    </tr>
    

</table>
</body>
</html>





